
@font-face {
    font-family: FredokaOne;
    src: url("/font/FredokaOne-Regular.ttf");
}
@font-face {
    font-family:Raleway
    src: url("/font/Raleway-Regular.ttf");
}
.v-application {
    font-family: Raleway;
}
.brand {
    font-family: FredokaOne !important;
}
.font-size-body {
    font-size: 1rem;
}
.font-size-h6 {
    font-size: 1.25rem;
}
.font-size-h5 {
    font-size: 1.5rem;
}
.font-size-h4 {
    font-size: 2.125rem;
}
.font-size-h3 {
    font-size: 3rem;
}
.font-size-h2 {
    font-size: 3.75rem;
}
.font-size-h1 {
    font-size: 6rem;
}